/* ___________________ CSS Reset _______________*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ________________ START OF MOBILE CSS __________________ */

/* establishing the brands theme */
:root {
    --accent-color: #B5170C;
}

body {
    margin: 0;
    font-family: 'Baloo 2';
    font-family: 'Roboto Serif', sans-serif;
}

h1  {
    font-family: 'Baloo 2';
    font-size: 2em;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
    animation-name: grow;
    animation-duration: 1s;
}

h2  { 
    font-family: 'Baloo 2';
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    padding: 1em;
    text-align: center;
    animation-name: grow;
    animation-duration: 1s;

}
h3  {
    font-family: 'Baloo 2';
    font-size: 1em;
    font-weight: 500;

}

p {
    font-family: 'Baloo 2';
    font-weight: 400;
    line-height: 1em;
    padding-bottom: 1em;
}

li {
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}

form {
    font-family: 'baloo 2';
}

img {
    width: 100%;
    height: auto;
  }


/* navigation */

nav {
    border-bottom: black solid 4px;
    padding: 1em;
}

nav a:link {
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

nav ul {
    margin: .5em;
}

/* allows user to see which oage they're on */
.current a:link {
    font-weight: 700;
    color: var(--accent-color)
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.mainlogo {
    flex: 20%;
    align-items: flex-start;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex: 80%;
    align-items: flex-end;
}

/* animation */

/* making headings and sub-heading pop out amoungst other text */
@keyframes grow {
    0%
    {transform: scale(.5)}
    100%
    {transform: scale(1);}
}


/* home style */

.tagline {
    color: white;
    position: absolute;
    text-align: right;
    top: 2em;
    right: 2em;
    margin: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0%;
    padding-bottom: 0%;
}


.button {
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5em;
}

header {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
}

picture {
    object-fit: contain;
}


.bannerphoto {
    align-content: center;
    max-width: 100%;
    height: auto;
}

 /* about style */

/* styling flex box */
.row {
    display: flex;
  }
  
.column {
    flex: 50%;
    margin: 10px;
  }

/* contact style  */
/* styling the contact form within its container */
.container {
    padding: 20px;
    margin: 10px;
    margin-top: 0px;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

/* footer style */

footer {
    text-align: center;
    margin-top: -5px;
    background-color: #5A5D5C;
    color: white;
    align-items: baseline;
  }

  footer div p {
      padding-top: .5em;
      line-height: .5em;
      font-size: small;
      align-items: baseline;
  }
  /* items would not align to "baseline" noot sure why... */

  /* media query for desktop */

 @media only screen and (min-width: 800px) {
/* start of Desktop styling */
   h1 {
        font-family: 'Baloo 2';
        font-size: 3em;
        font-weight: 700;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: right;
    } 

    h2  { 
        font-family: 'Baloo 2';
        font-size: 2em;
        font-weight: 600;
        line-height: 1.5em;
        padding-bottom: 1em;
        padding: 1em;
        text-align: center;
    }

    /* hoover transition */
    .button:hover {
       background-color: #ee6a6a;
    }

    nav {
        border-bottom: black solid 4px;
        padding: 1em;
    }
    
    nav a:link {
        font-weight: 500;
        text-decoration: none;
        color: black;
        font-size: 1.2em;
    }
    
    nav ul {
        margin: .5em;
    }
    
    .current a:link {
        font-weight: 700;
        color: var(--accent-color)
    }
    
    :visited {
        font-weight: 700;
        color: black;
    }
    
    .current a:visited {
        font-weight: 700;
        color: var(--accent-color)
    }
    
    
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: none;
    }
    
    .mainlogo {
        flex: 25%;
        align-items: flex-end;
    }
    
    .nav {
        flex: 75%;
        align-items: flex-end;
    }
    
  } 