/* ___________________ CSS Reset _______________*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ________________ START OF MOBILE CSS __________________ */

:root {
    --accent-color: #B5170C;
}

body {
    margin: 0;
    font-family: 'Baloo 2';
    font-family: 'Roboto Serif', sans-serif;
}

h1  {
    font-family: 'Baloo  2';
    font-size: 2em;
    font-weight: 700;
    
}
h2  {
    font-family: 'Baloo  2';
    font-weight:600;

}
h3  {
    font-family: 'Baloo  2';
    font-weight: 500;
}

p {
    font-family: 'Roboto Sefif';
    font-weight: 400;
}


/* ______________MOBILE NAV STYLE____________ */
nav {
    border-bottom: black solid 4px;
    padding: 1em;
}

nav a:link {
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.current a:link {
    font-weight: 700;
    color: var(--accent-color)
}

:visited {
    font-weight: 700;
    color: black;
}

.current a:visited {
    font-weight: 700;
    color: var(--accent-color)
}

.nav {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;

}

.flex-container {
    display: flex;
    flex-direction: row;
}

.mobile-menu {
    cursor: pointer;
}

.button {
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5em;
}

header {
    position: relative;
    text-align: center;
    
}

header picture {
    max-width: 100%;
    height: auto;
    background-size: cover;
}

header picture source {
    max-width: 100%;
    height: auto;
}


.tagline {
    padding-right: 2em;
    position: absolute;
    text-align: right;
    top: 2em;
    right: 1em;
}




/* ---------- Desktop CSS ------------ */